<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="nancyDb" connectionString="Data Source=218.54.28.93;Initial Catalog=nancy;User ID=nancy;Password=1q2w3e;" providerName="System.Data.SqlClient" />
    <add name="apphbDb" connectionString="Server=1a7fdf24-a12b-4029-9645-a2d500032594.sqlserver.sequelizer.com;Database=db1a7fdf24a12b40299645a2d500032594;User ID=ktszshcjqcbnchqq;Password=dL5x68HxEuVLwdBsTnHJmDvsvkuhaZSUBhY5KDEykuyxDB8KLSV2ReAGpKcULAwM;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>